nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-primary) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#left {
    display: flex;
    align-items: center;
}

#left img {
    height: 40px;
    margin-right: 10px;
}

#left p {
    font-size: 24px;
    font-weight: bold;
    /* color: #333; */
}

#left p span {
    color: #007bff;
}

#center form {
    display: flex;
    align-items: center;
}

#center input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#center button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#center button:hover {
    background-color: #0056b3;
}

#right {
    display: flex;
    align-items: center;
}

#right svg {
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
    /* color: #333; */
}

#right svg:hover {
    color: #007bff;
}